<meta charset="utf-8">
<title>{{ title | default('Welcome') }}</title>
<meta name="generator" content="nickyeoman/phpframework" />

<meta name="description" content="{{ description | default('No description given') }}">
<meta name="keywords" content="{{ keywords | default('website') }}">
<meta name="author" content="{{ author | default('anonymous') }}">
<meta name="viewport" content="width=device-width, initial-scale=1">

<meta property="og:title" content="{{ title | default('Welcome') }}">
<meta property="og:type" content="">
<meta property="og:url" content="">
<meta property="og:image" content="">

<link rel="manifest" href="site.webmanifest">
<link rel="apple-touch-icon" href="/icon.png">

<!-- Place favicon.ico in the root directory -->
<link rel="icon" type="image/x-icon" href="/favicon.ico">

{# https://developers.google.com/fonts/docs/getting_started #}
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Code+Pro|Material+Icons|Material+Icons+Outlined">

<link rel="stylesheet" href="/css/main.css">

<meta name="theme-color" content="#000000">